@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&family=Limelight&family=Ubuntu:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

:root {
  --background: #00203fff;
  --container: #adefd1ff;
}

.topnav {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

.movie-list {
  padding: 50px 12px 12px 24px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  column-gap: 30px;
}

.left-nav {
  padding-top: 18px;
  font-family: 'Limelight', cursive;
  display: flex;
  font-size: 25px;
  position: relative;
  margin-top: -30px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 4rem;
}

.right-nav input[type=text] {
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
}

.big {
  font-size: 40px;
  color: red;
}

.big-2 {
  color: red;
}

.middle {
  font-family: 'Limelight', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

footer {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #ddd;
  padding: 1rem 0;
  display: flex;
  height: 72px;
  font-size: 20px;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
